body{
    background: linear-gradient(to right, red, purple);
padding: 0;
margin: 20px;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;

}

a{
    color: rgb(29, 67, 161)
}